[alias]
  a = add
  aa = add --all
  ap = add --patch
  au = add --update
  b = !git --no-pager branch
  c = commit
  ca = commit --all
  cam = commit --amend --no-edit
  cama = commit --amend --all --no-edit
  came = commit --amend --edit
  camea = commit --amend --edit --all
  camp = commit --amend --patch --no-edit
  camep = commit --amend --edit --patch
  co = checkout
  com = checkout master
  coom = checkout origin/master
  cop = checkout --patch
  cp = commit --patch
  d = diff
  f = fetch
  p = push
  s = status
  poh = push origin HEAD
  rem = rebase master
  reom = rebase origin/master
  remi = rebase master -i
  reomi = rebase origin/master -i
[push]
	default = simple
[commit]
  verbose = 1
[core]
	editor = vim
	bare = false
[rerere]
	enabled = true
[user]
	name = Topher Brown
	email = topher@memfault.com
[advice]
	detachedHead = false
